extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7 
                h1=pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi lacus sed viverra tellus in hac habitasse platea. Sit amet commodo nulla facilisi. Libero enim sed faucibus turpis. Morbi quis commodo odio aenean sed. Tristique senectus et netus et. Elementum facilisis leo vel fringilla est. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Adipiscing elit pellentesque habitant morbi tristique senectus. Ornare aenean euismod elementum nisi quis eleifend.
                p Egestas integer eget aliquet nibh praesent tristique magna. Convallis tellus id interdum velit laoreet id. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Curabitur gravida arcu ac tortor. Eu lobortis elementum nibh tellus. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Diam vulputate ut pharetra sit amet aliquam id diam. Amet mauris commodo quis imperdiet massa tincidunt. 
                p Egestas integer eget aliquet nibh praesent tristique magna. Convallis tellus id interdum velit laoreet id. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Curabitur gravida arcu ac tortor. Eu lobortis elementum nibh tellus. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Diam vulputate ut pharetra sit amet aliquam id diam. Amet mauris commodo quis imperdiet massa tincidunt. 
    

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2 Seguridad 
                    p Egestas integer eget aliquet nibh praesent tristique magna. Convallis tellus id interdum velit laoreet id. Pellentesque elit 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2 Mejores Destinos 
                    p Egestas integer eget aliquet nibh praesent tristique magna. Convallis tellus id interdum velit laoreet id. Pellentesque elit 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2 Mejores Precios 
                    p Egestas integer eget aliquet nibh praesent tristique magna. Convallis tellus id interdum velit laoreet id. Pellentesque elit 